 {% extends "header_footer.html" %}
 {% load static %}

{% block title%}Auction{%endblock%}

{% block content %}
    <!-- Start Breadcrumb section -->
    <div class="breadcrumb-section seven" style="background-image:url({% static "assets/img/inner-pages/breadcrumb-bg7.png" %});">  
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-content">
                        <h1>Auction </h1>
                        <ul class="breadcrumb-list">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li>Auction</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb section -->

    <!-- Start Auction Grid Sidebar section -->
    <div class="auction-grid-sidebar-section pt-110 mb-110">
        <div class="container">
            <div class="row gy-5">
                <div class="col-xl-3 order-xl-1 order-2">
                    <div class="auction-sidebar">
                        <form>
                            <div class="single-widget mb-30">
                                <div class="search-box">
                                    <input type="text" placeholder="Search">
                                    <button type="submit"><i class="bx bx-search"></i></button>
                                </div>
                            </div>
                            <div class="single-widget mb-30">
                                <div class="single-search-box">
                                    <div class="searchbox-input">
                                        <label>Sales</label>
                                        <div class="custom-select-dropdown">
                                            <div class="select-input">
                                                <input type="text" readonly value="Online">
                                                <i class="bi bi-chevron-down"></i>
                                            </div>
                                            <div class="custom-select-wrap two">
                                                <ul class="option-list">
                                                    <li class="single-item">
                                                        <h6>Online</h6>
                                                    </li>
                                                    <li class="single-item">
                                                        <h6>In-Store</h6>
                                                    </li>
                                                    <li class="single-item">
                                                        <h6>Phone Order</h6>
                                                    </li>
                                                    <li class="single-item">
                                                        <h6>Email Order</h6>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-widget mb-30">
                                <h5 class="widget-title">Category</h5>
                                <div class="checkbox-container">
                                    <ul>
                                        <li>
                                            <label class="containerss">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                                <span>Automotive</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="containerss">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                                <span>Antiques</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="containerss">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                                <span>Digital Art</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="containerss">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                                <span>Books & Comic</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="containerss">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                                <span>Old Coin</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="containerss">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                                <span>Gadget and Technology</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-widget mb-30">
                                <div class="single-search-box">
                                    <div class="searchbox-input">
                                        <label>Country</label>
                                        <div class="custom-select-dropdown">
                                            <div class="select-input">
                                                <input type="text" readonly value="Spain">
                                                <i class="bi bi-chevron-down"></i>
                                            </div>
                                            <div class="custom-select-wrap two">
                                                <ul class="option-list">
                                                    <li class="single-item">
                                                        <h6>Spain</h6>
                                                    </li>
                                                    <li class="single-item">
                                                        <h6>France</h6>
                                                    </li>
                                                    <li class="single-item">
                                                        <h6>Brazil</h6>
                                                    </li>
                                                    <li class="single-item">
                                                        <h6>Bangladesh</h6>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-widget mb-30">
                                <div class="single-search-box">
                                    <div class="searchbox-input">
                                        <label>Period</label>
                                        <div class="custom-select-dropdown">
                                            <div class="select-input">
                                                <input type="text" readonly value="Today  (110)">
                                                <i class="bi bi-chevron-down"></i>
                                            </div>
                                            <div class="custom-select-wrap two">
                                                <ul class="option-list">
                                                    <li class="single-item">
                                                        <h6>Today  (110)</h6>
                                                    </li>
                                                    <li class="single-item">
                                                        <h6>Yesterday (115)</h6>
                                                    </li>
                                                    <li class="single-item">
                                                        <h6>Last 7 Days (515)</h6>
                                                    </li>
                                                    <li class="single-item">
                                                        <h6>Last 30 Days (945)</h6>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-widget mb-30">
                                <div class="single-search-box">
                                    <div class="searchbox-input">
                                        <label>Condition</label>
                                        <div class="custom-select-dropdown">
                                            <div class="select-input">
                                                <input type="text" readonly value="New">
                                                <i class="bi bi-chevron-down"></i>
                                            </div>
                                            <div class="custom-select-wrap two">
                                                <ul class="option-list">
                                                    <li class="single-item">
                                                        <h6>New</h6>
                                                    </li>
                                                    <li class="single-item">
                                                        <h6>Used</h6>
                                                    </li>
                                                    <li class="single-item">
                                                        <h6>Refurbished</h6>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-widget mb-30">
                                <h5 class="widget-title">Price</h5>
                                <div class="range-wrap">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input type="hidden" name="min-value" value="">
                                            <input type="hidden" name="max-value" value="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                        <div id="slider-range"></div>
                                        </div>
                                    </div>
                                    <div class="slider-labels">
                                        <div class="caption">
                                            <span id="slider-range-value1"></span>
                                        </div>
                                        <div class="caption">
                                            <span id="slider-range-value2"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-widget mb-30">
                                <h5 class="widget-title">Type Of Sales</h5>
                                <div class="checkbox-container">
                                    <ul>
                                        <li>
                                            <label class="containerss">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                                <span>Upcoming</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="containerss">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                                <span>Latest</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="containerss">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                                <span>Highest Bidding</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="containerss">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                                <span>Live Auction</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="containerss">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                                <span>Popular</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                        <div class="single-widget">
                            <h5 class="widget-title">Highest Bidding</h5>
                            <div class="highest-bidding-widget mb-20">
                                <div class="highest-bidding-img">
                                    <a href="auction-details.html"><img src="{% static 'assets/img/inner-pages/highest-bidding-img1.jpg' %}" alt=""></a>
                                </div>
                                <div class="highest-bidding-content">
                                    <h6><a href="auction-details.html">Poutsicle Hydratingani Stain offering.</a></h6>
                                    <div class="price-area">
                                        <span>Current Bid at:</span>
                                        <strong>$4,648</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="highest-bidding-widget mb-20">
                                <div class="highest-bidding-img">
                                    <a href="auction-details.html"><img src="{% static 'assets/img/inner-pages/highest-bidding-img2.jpg' %}" alt=""></a>
                                </div>
                                <div class="highest-bidding-content">
                                    <h6><a href="auction-details.html">Heritage Had Curating Watch.</a></h6>
                                    <div class="price-area">
                                        <span>Current Bid at:</span>
                                        <strong>$2,458</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="highest-bidding-widget">
                                <div class="highest-bidding-img">
                                    <a href="auction-details.html"><img src="{% static 'assets/img/inner-pages/highest-bidding-img3.jpg' %}" alt=""></a>
                                </div>
                                <div class="highest-bidding-content">
                                    <h6><a href="auction-details.html">Art decorat bronze sculpture.</a></h6>
                                    <div class="price-area">
                                        <span>Current Bid at:</span>
                                        <strong>$2,878</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 order-xl-2 order-1">
                    <div class="auction-grid-title-section mb-40">
                        <h6>Showing 1–12 of 101 results</h6>
                        <div class="filter-selector">
                            <div class="selector">
                                <select>
                                    <option>Default Sorting</option>
                                    <option>Price Low to High</option>
                                    <option>Price High to Low</option>
                                  </select>
                            </div>
                            <ul class="grid-view d-lg-flex d-none">
                                <li class="column-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="20" viewBox="0 0 12 20">
                                        <g>
                                            <rect width="4.88136" height="5.10638" rx="2.44068" />
                                            <rect y="7.44678" width="4.88136" height="5.10638" rx="2.44068" />
                                            <rect y="14.8937" width="4.88136" height="5.10638" rx="2.44068" />
                                            <rect x="7.11865" width="4.88136" height="5.10638" rx="2.44068" />
                                            <rect x="7.11865" y="7.44678" width="4.88136" height="5.10638" rx="2.44068" />
                                            <rect x="7.11865" y="14.8937" width="4.88136" height="5.10638" rx="2.44068" />
                                        </g>
                                    </svg>
                                </li>
                                <li class="column-3 active">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                        <g clip-path="url(#clip0_1610_1442)">
                                            <rect width="5.10638" height="5.10638" rx="2.55319" />
                                            <rect y="7.44678" width="5.10638" height="5.10638" rx="2.55319" />
                                            <rect y="14.8937" width="5.10638" height="5.10638" rx="2.55319" />
                                            <rect x="7.44678" width="5.10638" height="5.10638" rx="2.55319" />
                                            <rect x="7.44678" y="7.44678" width="5.10638" height="5.10638" rx="2.55319" />
                                            <rect x="7.44678" y="14.8937" width="5.10638" height="5.10638" rx="2.55319" />
                                            <rect x="14.8936" width="5.10638" height="5.10638" rx="2.55319" />
                                            <rect x="14.8936" y="7.44678" width="5.10638" height="5.10638" rx="2.55319" />
                                            <rect x="14.8936" y="14.8937" width="5.10638" height="5.10638" rx="2.55319" />
                                        </g>
                                    </svg>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="list-grid-product-wrap">
                        <div class="row g-4 mb-60">
                            {% for product in products %}
                            <div class="col-lg-4 col-md-6 item wow animate fadeInDown" data-wow-delay="200ms" data-wow-duration="1500ms">
                                <div class="auction-card style-7">
                                    <div class="auction-card-img-wrap">
                                        <a href="{% url 'auction-details' product.id %}" class="card-img">
                                            {% if product.main_image %}
                                            <img src="{{ product.main_image.url }}" alt="{{ product.product_name }}"width="auto"height="200px">
                                            {% else %}
                                            <img src="{% static 'images/default-product.jpg' %}" alt="No image">
                                            {% endif %}
                                        </a>

                                        <div class="batch">
                                            <span class="live">Live</span>
                                        </div>

                                        <!-- Countdown Timer -->
                                        <div class="countdown-timer">
                                            <ul data-countdown="{{ product.auction_end_date_time|date:'Y-m-d H:i:s' }}">
                                                <li class="times" data-days="00">00</li>
                                                <li class="colon">:</li>
                                                <li class="times" data-hours="00">00</li>
                                                <li class="colon">:</li>
                                                <li class="times" data-minutes="00">00</li>
                                                <li class="colon">:</li>
                                                <li class="times" data-seconds="00">00</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="auction-card-content">
                                        <h6><a href="#">{{ product.product_name }}</a></h6>
                                        <div class="price-and-code-area">
                                            <div class="price">
                                                <span>Current Bid at:</span>
                                                <strong>${{ product.current_bid }}</strong>
                                            </div>
                                            <a href="#" class="bid-btn">Bid Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 d-flex justify-content-center wow animate fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                            <div class="inner-pagination-area">
                                <ul class="paginations">
                                    <li class="page-item active">
                                        <a href="#">01</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#">02</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#">03</a>
                                    </li>
                                    <li class="page-item paginations-button">
                                        <a href="#">
                                            <svg width="16" height="13" viewBox="0 0 16 13" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M15.557 10.1026L1.34284 1.89603M15.557 10.1026C12.9386 8.59083 10.8853 3.68154 12.7282 0.489511M15.557 10.1026C12.9386 8.59083 7.66029 9.2674 5.81744 12.4593" stroke-width="0.96" stroke-linecap="round" />
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Auction Grid Sidebar section -->
{% endblock %}