{% extends "header_footer.html" %}
 {% load static %}

{% block title%}Category{%endblock%}

{% block content %}
    <!-- Start Breadcrumb section -->
    <div class="breadcrumb-section seven" style="background-image:url({% static 'assets/img/inner-pages/breadcrumb-bg7.png' %});">  
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-content">
                        <h1>Category</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li>Category</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb section -->

    <!-- Start Category Grid section -->
    <div class="category-grid-section pt-110 mb-110">
        <div class="container">
            <div class="row gy-5 row-cols-xl-5 row-cols-md-3 row-cols-sm-2 row-cols-1">
                {% for category in categories %}
                <div class="col wow animate fadeInDown" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="category-card7 two">
                        <div class="category-icon">
                            <img src="{% static "assets/img/home7/category.png"%}" alt="">
                        </div>
                        <div class="category-wrap">
                            <div class="category-content">
                                <h4><a href="{% url 'category_details' category.id %}">{{ category.name}}</a></h4>
                                <span>{{category.product_count}} Item</span>
                            </div>
                            <div class="category-img">
                                <img src="{{ category.image.url}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    <!-- End Category Grid section -->
{%endblock%}