{% extends "header_footer.html" %}
 {% load static %}

{% block title%}{{error}}{%endblock%}

{% block content %}
    <!-- Start Error Page -->
    <div class="error-page pt-110 mb-110">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="error-wrap">
                        <img src="../assets/img/inner-pages/error-img.png" alt="">
                        <div class="error-content">
                            <h1>Sorry! We Can't Find That Page.</h1>
                            <p>The page you are looking for was moved, removed, renamed or never existed.</p>
                            <div class="back-btn d-flex justify-content-center">
                                <a class="primary-btn btn-hover" href="index.html">
                                    Go home
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Error Page -->
{%endblock%}