{% extends "header_footer.html" %}
 {% load static %}

{% block title%}{{how_to_sell}}{%endblock%}

{% block content %}
    <!-- Start Breadcrumb section -->
    <div class="breadcrumb-section seven" style="background-image:url(../assets/img/inner-pages/breadcrumb-bg7.png);">  
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-content">
                        <h1>How To Sell</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="index.html">Home</a></li>
                            <li>How To Sell</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb section -->

    <!-- Start How To Sell section -->
    <div class="how-to-sell-section pt-110 mb-110">
        <div class="container">
            <div class="row justify-content-center mb-70">
                <div class="col-lg-10">
                    <div class="how-to-sell-wrap">
                        <div class="row mb-25">
                            <div class="col-lg-5 col-md-6">
                                <div class="single-step">
                                    <span>Step-01</span>
                                    <h2>Registration</h2>
                                    <p> Clearly state your pricing structure, payment terms and and any additional charges. Specifying when & payment invoices will be issued, as well as your accepted.</p>
                                    <div class="arrow">
                                        <svg width="11" height="11" viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10.501 10.501L2.99848 10.501L2.99848 9.66931L9.07931 9.66931L0.498476 1.08897L1.08848 0.500977L9.66764 9.07965L9.66764 2.99515L10.501 2.99515L10.501 10.501Z"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end mb-25">
                            <div class="col-lg-5 col-md-6">
                                <div class="single-step two">
                                    <span>Step-02</span>
                                    <h2>Select Platform</h2>
                                    <p> Clearly state your pricing structure, payment terms and and any additional charges. Specifying when & payment invoices will be issued, as well as your accepted.</p>
                                    <div class="arrow">
                                        <svg width="11" height="11" viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10.501 10.501L2.99848 10.501L2.99848 9.66931L9.07931 9.66931L0.498476 1.08897L1.08848 0.500977L9.66764 9.07965L9.66764 2.99515L10.501 2.99515L10.501 10.501Z"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-25">
                            <div class="col-lg-5 col-md-6">
                                <div class="single-step">
                                    <span>Step-03</span>
                                    <h2>Listing the Item</h2>
                                    <p> Clearly state your pricing structure, payment terms and and any additional charges. Specifying when & payment invoices will be issued, as well as your accepted.</p>
                                    <div class="arrow">
                                        <svg width="11" height="11" viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10.501 10.501L2.99848 10.501L2.99848 9.66931L9.07931 9.66931L0.498476 1.08897L1.08848 0.500977L9.66764 9.07965L9.66764 2.99515L10.501 2.99515L10.501 10.501Z"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end mb-25">
                            <div class="col-lg-5 col-md-6">
                                <div class="single-step two">
                                    <span>Step-04</span>
                                    <h2>Managing the Auction</h2>
                                    <p> Clearly state your pricing structure, payment terms and and any additional charges. Specifying when & payment invoices will be issued, as well as your accepted.</p>
                                    <div class="arrow">
                                        <svg width="11" height="11" viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10.501 10.501L2.99848 10.501L2.99848 9.66931L9.07931 9.66931L0.498476 1.08897L1.08848 0.500977L9.66764 9.07965L9.66764 2.99515L10.501 2.99515L10.501 10.501Z"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-25">
                            <div class="col-lg-5 col-md-6">
                                <div class="single-step">
                                    <span>Step-05</span>
                                    <h2>Closing the Auction </h2>
                                    <p> Clearly state your pricing structure, payment terms and and any additional charges. Specifying when & payment invoices will be issued, as well as your accepted.</p>
                                    <div class="arrow">
                                        <svg width="11" height="11" viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10.501 10.501L2.99848 10.501L2.99848 9.66931L9.07931 9.66931L0.498476 1.08897L1.08848 0.500977L9.66764 9.07965L9.66764 2.99515L10.501 2.99515L10.501 10.501Z"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video-tutorial-area">
                <h2>Guidelines For Selling</h2>
                <div class="video-wrapper">
                    <img src="../assets/img/inner-pages/how-to-sell-video-img.jpg" alt="">
                    <a href="https://www.youtube.com/watch?v=nInHvH6X7zM" class="video-area video-player">
                        <div class="icon">
                            <svg class="video-circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" viewBox="0 0 206 206" style="enable-background:new 0 0 206 206;" xml:space="preserve">
                                <circle class="circle" stroke-miterlimit="10" cx="103" cy="103" r="100"></circle>
                                <path class="circle-half top-half" stroke-width="4" stroke-miterlimit="10" d="M16.4,53C44,5.2,105.2-11.2,153,16.4s64.2,88.8,36.6,136.6"></path>
                                <path class="circle-half bottom-half" stroke-width="4" stroke-miterlimit="10" d="M189.6,153C162,200.8,100.8,217.2,53,189.6S-11.2,100.8,16.4,53"></path>
                            </svg>
                            <i class="bi bi-play"></i>
                        </div> 
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End How To Sell section -->

   {% endblock %}