{% extends "header_footer.html" %}
 {% load static %}

{% block title%}Privacy Policy{%endblock%}

{% block content %}

    <!-- Start Breadcrumb section -->
    <div class="breadcrumb-section seven" style="background-image:url({% static 'assets/img/inner-pages/breadcrumb-bg7.png' %});">  
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-content">
                        <h1>Privacy Policy</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb section -->

    <!-- Start Terms and Conditions Page -->
    <div class="terms-and-conditions-page pt-110 mb-110">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-50">
                    <div class="terms-and-conditions two">
                        <h2>Welcome to Probid Privacy Policy</h2>
                        <ul>
                            <li><strong>1) Fees and Payment: </strong> Clearly state your pricing structure,
                                payment terms, and any additional charges. Specify when and how invoices will be
                                issued, as well as your accepted payment methods.</li>
                            <li><strong>2) Termination and Cancellation:</strong> Outline the process for
                                terminating the consulting agreement and any associated fees or penalties.
                                Include a notice period required for termination.</li>
                            <li><strong>3) Liability and Indemnification:</strong> Describe your liability
                                limits and the circumstances under which you will be held accountable for
                                damages or losses. Include clauses regarding indemnification, which can protect
                                you from client claims.</li>
                            <li><strong>4) Governing Law and Jurisdiction:</strong> Define the governing law
                                that will apply to the contract and the jurisdiction where any disputes will be
                                resolved. This can simplify legal matters if disagreements arise.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12 mb-50">
                    <div class="terms-and-conditions two">
                        <h2>How we collect personal information</h2>
                        <ul>
                            <li><strong>1) Fees and Payment: </strong> Clearly state your pricing structure,
                                payment terms, and any additional charges. Specify when and how invoices will be
                                issued, as well as your accepted payment methods.</li>
                            <li><strong>2) Termination and Cancellation:</strong> Outline the process for
                                terminating the consulting agreement and any associated fees or penalties.
                                Include a notice period required for termination.</li>
                            <li><strong>3) Liability and Indemnification:</strong> Describe your liability
                                limits and the circumstances under which you will be held accountable for
                                damages or losses. Include clauses regarding indemnification, which can protect
                                you from client claims.</li>
                            <li><strong>4) Governing Law and Jurisdiction:</strong> Define the governing law
                                that will apply to the contract and the jurisdiction where any disputes will be
                                resolved. This can simplify legal matters if disagreements arise.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="terms-and-conditions two">
                        <h2>Collect personal information</h2>
                        <ul>
                            <li><strong>1) Fees and Payment: </strong> Clearly state your pricing structure,
                                payment terms, and any additional charges. Specify when and how invoices will be
                                issued, as well as your accepted payment methods.</li>
                            <li><strong>2) Termination and Cancellation:</strong> Outline the process for
                                terminating the consulting agreement and any associated fees or penalties.
                                Include a notice period required for termination.</li>
                            <li><strong>3) Liability and Indemnification:</strong> Describe your liability
                                limits and the circumstances under which you will be held accountable for
                                damages or losses. Include clauses regarding indemnification, which can protect
                                you from client claims.</li>
                            <li><strong>4) Governing Law and Jurisdiction:</strong> Define the governing law
                                that will apply to the contract and the jurisdiction where any disputes will be
                                resolved. This can simplify legal matters if disagreements arise.</li>
                        </ul>
                        <div class="btn-area">
                            <button type="submit" class="primary-btn two btn-hover">
                                Accept
                                <span></span>
                            </button>
                            <button type="submit" class="primary-btn two btn-hover black-bg">
                                Decline
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Terms and Conditions Page -->
{%endblock%}